node_modules
.next
.env.local
.env
.DS_Store
*.log
.vercel
next-env.d.ts
supabase/.temp
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tsconfig.tsbuildinfo
.env*

# test coverage output
coverage/
